@import url(https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap);

:root {
	--maintextcolor: #dddddd;
	--secondarytextcolor: #bbbbbb;
	--mainlinkcolor: #dd00dd;
	--mainbordercolor: #444444;
	--mainbgcolor: #222222;
	--secondarybgcolor: #333333;
	--LinkHover: blueviolet;
	--Testcolor: blueviolet;
}

* {
	font-family: "Readex Pro";
	box-sizing: border-box;
	color: var(--maintextcolor);
	line-height: 1.5em;
}

body {
	margin: 0;
	background-color: #333;
}
