.aboutMe {
	background: rgb(255, 181, 0);
	background: linear-gradient(
		135deg,
		rgba(255, 181, 0, 1) 0%,
		rgba(223, 7, 7, 1) 49%,
		rgba(55, 49, 190, 1) 100%
	);
	border-radius: 50%;
}

.aboutMeCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutMeText {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.block2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #888;
}

.margin {
	margin: 15px;
}

.containerLeft {
	display: flex;
	justify-content: right;
}

.containerRight {
	justify-content: left;
}

.main {
	background-color: #090;
	display: flex;
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: center;
	border-radius: 25%;
	margin: 15px;
}

.mainGrid {
	background-color: #505;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
	border-radius: 2%;
}

.block {
	/* background-color: #888; */
	border-radius: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.formatting {
	border-radius: 25%;
}
